body {  
  display: flex;
}

#green {
  order: 3;
  flex: 1;
}

#yellow {
  order: 1;
  flex: 1;
}

#orange {
  order: 4;
  flex: 3;
}

#red {
  order: 2;
  flex: 1;
}

#blue {
  order: 5;
  flex: 1;
}